In [5]:
li=[0,-2,-1,1,2,3]
print (max(li))
min(li)

3

-2

In [7]:
li.sort()
li

[-2, -1, 0, 1, 2, 3]

# Tuple

tuple is a immutable

In [8]:
t1=(1,2,3)
t1

(1, 2, 3)

In [9]:
t1[0]

1

In [10]:
t1[-1]

3

In [11]:
t2=("one","two","three")
for i in t1:
    print(t2)

('one', 'two', 'three')
('one', 'two', 'three')
('one', 'two', 'three')

In [14]:
t3=t1+t2
t3

(1, 2, 3, 'one', 'two', 'three')

In [15]:
if "four"in t3:
    print(True)
print(False)

False

In [16]:
t3[2:5]

(3, 'one', 'two')

In [17]:
t3[-4:-1]

(3, 'one', 'two')

In [19]:
t=("aditya")
type(t)

str

In [20]:
t=("aditya",)
type(t)

tuple

In [24]:
t4=("python","java","program")
li=list(t4)
li[2]="c++"
print(tuple(li))

('python', 'java', 'c++')

In [27]:
del t2

NameError: name 't2' is not defined

In [26]:
for i in t1:
    print(i)

1
2
3

In [36]:
t3=(2,3,4,5,6,76,87,6,4,3,2,4,5)
print(t3.count(4))
t3.index(4)

3

2

In [40]:
t3.index(4,3)

8

In [41]:
t=1,2,3,4
type(t)

tuple

In [42]:
t1,t2,t3,t4=t
t1

1

In [43]:
t2

2

In [44]:
t3

3

In [45]:
t4

4

## Tasks on Tuples and Lists

1. write a python to change the item in a tuple
2. write a python program to convert a tuple to a string
3. print the 4th element and 4th element from the list in a tuple
4. write a program to find the repeated items in a tuple
5. print the length of a tuple without using length function
6. write a program to reverse a tuple
7. write a program to replace the last value of all elements in a tuple

In [52]:
# write a program to reverse a tuple
t1=(1,2,3,4,56,7)
t1=t1[::-1]
print(t1)

(7, 56, 4, 3, 2, 1)

In [53]:
# write a python to change the item in a tuple
t4=("python","java","program")
li=list(t4)
li[2]="c++"
print(tuple(li))

('python', 'java', 'c++')

In [80]:
#  print the length of a tuple without using length function
t=("adityas")
count=0
for i in t:
    count=count+1
print(count)

7

In [57]:
# write a python program to convert a tuple to a string
t=('a','d','i','t','y','a')
''.join(t)

'aditya'

In [81]:
# write a program to find the repeated items in a tuple
t3=(2,3,4,5,6,76,87,6,4,3,2,4,5)
print(t3.count(4))
t3.index(4)

3

2

In [72]:
# print the 4th element and 4th element from the list in a tuple
t= ('a','d','i','t','y','a','c','o','l','l','e','g','e')
print(t[3])
t[-4]

t

'l'

In [79]:
# write a program to replace the last value of all elements in a tuple
t=((1,2,3),(2,3,4),(4,5,6,))
for i in t:
    print(i[:-1]+(10,))

(1, 2, 10)
(2, 3, 10)
(4, 5, 10)

## Tasks on Lists

1. Write a program to find the second largest and second smallest elements in a list
2. Write a program to get the difference between two lists
3. Write a program to print the list after removing even numbers in it
4. Print the palindromic elements in given list

In [92]:
# write a program to find the second largest and second smallest elements in a list
list=[1,2,3,5,4,5,6,3,2,4]
l=len(list)
list.sort()
print(list)
print(list[l-2])
list[1]

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6]
5

2

In [97]:
# Write a program to get the difference between two lists
list1 = [1, 2, 3, 4]
list2 = [1, 2,3,3]
for i in range

NameError: name 'diff' is not defined

In [91]:
# Write a program to print the list after removing even numbers in it
list=[1,2,6,8,756,65,4]
for i  in list:
    if(i%2 == 0):
        list.remove(i)
print(list)

[1, 6, 756, 65]

In [ ]:
# Print the palindromic elements in given list